body{
    
}


.hero{
    width: 100%;
    height:100%;
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 25% 25% 50%;  

        

}
    
.coffe{
    grid-column: 1/4;
    grid-row: 1/4;
  
} 
     
.hero .title{
 grid-column: 1/2;
 grid-row: 1/3;
padding: 20%;
z-index: 2;
}
.icon {
  padding: 3%;
  width:6rem;
}

.liladoc{

    font-family: 'Jos position: relative;efin Sans', sans-serif;
    color: #190702;
    font-size:  5rem;
}





/* PRESENTATION*/


.presentation{
    /* display: grid;
    grid-template-columns: 35% 15% 50%;
    grid-template-rows: 15% 50% 35%;  */
  background-color: #F4E7CF;
    display: grid;
    grid-template-columns: 50% 50%;
    


} 
.stethoscope{
  height: 90%;
  width: 90%;
  position: relative;
  top: 12rem;
  border-radius: 50%;

    /* grid-column: 1/5;
    grid-row: 1/4;
    padding-left: 10%;
     z-index: 1;  */
     
} 


/* 
 .transparency{
    grid-column: 1/3;
    grid-row: 1/4;
    background-color: #FAFBFB;
    opacity: 0.33;
    z-index: 2;
 }  */



.background{
    /* 
    V2
    grid-column: 1/2;
    grid-row: 1/4;
    background-color:#FAFBFB ;
    z-index: 3; */
}  

 .presentation .title{
     /* 
     V2
     grid-column: 1/2;
    grid-row: 1/2;
    font-size: 6.2rem; 
    padding: 6%;
    padding-left: 20%;
    padding-bottom: 0;
    z-index: 4; */
    height: 40rem;
    font-size: 5.2rem;
    width: 5rem;
    font-weight: 300;
    padding-left: 23%;
    padding-top: 4rem;
    align-items: center;
    
} 
     
 .text{
    font-size: 2rem;
    font-weight: 400;
  text-align: center;
  padding: 20%;
   color: #0e0904;


} 

.work{
  background-color: #E0D7CE;
  height: 20rem;
}

.skillsback{
  display: grid;
  /* padding-top: 15rem; */



} 
.skillsback img{
  grid-column: 2/3;
  grid-row: 3/4;
  padding-left: 20%;
  position: relative;
  top: -8rem;
}
.container{

  grid-column: 1/3;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
  z-index: 2;
}
.skills{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5%;
  
 

}
ul{
  /* list-style-type: none; */
}
.skillcard{
  background-color: #FFECD9;
  padding: 15%;
  box-shadow:  0 0 16px rgba(0,0,0,0.2);
  border-radius: 1%;
  

  
}
.Quick{
  background-color: #FFECD9;
}

.Efficiency{
  background-color: #E0B055;
}

.Soft{
  background-color: #F9D8B3;
}
.spaceLetter{
  text-align: center;
  letter-spacing: 3px;
  font-size: 2.5rem;
  padding: 6rem;
  padding-top: 8rem;

}
li {
  font-weight: 300;
  font-size: 1.4rem;
}

h3{
  font-weight: 500;
  font-size: 1.5rem;
  padding-top: 1rem;
  
}


.petitIcon{
  margin: 1rem;
  padding: 1px;
  width:3rem;
  /* align-items: end; */
}
.footer{
  text-align: center;
  background-color: #1A100A;
  padding: 3rem;
}

.creamyText{
  color: #E0D7CE;
}
.creamyBack{
  background-color: #E0D7CE;
}
.round{
  border-radius: 50%;
}

@media(max-width:1445px){
  .presentation.text{
    grid-column: 2/5;
    grid-row:1/4;
  }
}  
/* position: relative; */

  
@media(max-width: 1379px) {
  .icon{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
     
    .presentation .title{
        font-size: 5rem;
        padding: 20%

    }
    .presentation .text{
        font-size: 2rem;
        grid-column: 2/5;
        grid-row:1/4;
        
        color: #7a746d;
        border-radius: 5%;
        padding: 20%;
        margin-bottom: 20%;

    }
    .stethoscope{
      opacity: 0;

    }
  }  

  @media(max-width: 770px) {
    .skills{
      display: flex;
  flex-direction: column-reverse;
  align-items: center;
    }
  .skillcard{
  width: 60%;
  padding: 15%;
  margin: 10%;
  box-shadow:  0 0 16px rgba(0,0,0,0.2);
  

  
}
.icon{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
    
    .presentation .text{
        font-size: 2rem;
        grid-column: 1/5;
        grid-row:3/4;
        padding: 10%;
        padding-top: 0%;
    }


  }  
