body{
    
}


.hero{
    width: 100%;
    height:100%;
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 25% 25% 50%;  

        

}
    
.coffe{
    grid-column: 1/3;
    grid-row: 1/4;
  
} 
     
.hero .title{
 grid-column: 1/2;
 grid-row: 2/3;
padding: 20%;
}
.liladoc{

    font-family: 'Josefin Sans', sans-serif;
    color: #190702;
    font-size:  5rem;
}

.presentation{
    display: grid;
    grid-template-columns: 35% 15% 50%;
    grid-template-rows: 15% 50% 35%; 

} 
.stethoscope{
    grid-column: 1/5;
    grid-row: 1/4;
    padding-left: 10%;


     z-index: 1; 
} 

 .transparency{
    grid-column: 1/3;
    grid-row: 1/4;
    background-color: #FAFBFB;
    opacity: 0.33;
    z-index: 2;
 } 



.background{
    grid-column: 1/2;
    grid-row: 1/4;
    background-color:#FAFBFB ;
    z-index: 3;
}  

.presentation .title{
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 6.2rem;
    padding: 6%;
    z-index: 4;
}
     
 .presentation .text{
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: 1.7rem;
    padding: 10%;
    padding-top: 5%;
   color: #C3BCB4;
    z-index: 5;

} 

@media (max-width: 480px) and (min-width: 319px){
    /* body{
      background-color:lightsalmon;
    } */
  }
  @media (max-width:1297){
    

    } 
  
  @media(max-width: 1379px) {
    /* body{
      background-color: limegreen;
    } */
    .presentation .title{
        font-size: 5rem;
        padding: 20%

    }
    .presentation .text{
        font-size: 2rem;
        grid-column: 2/5;
        grid-row:1/4;
        background-color: #E0B055;
        color: #190702;
        border-radius: 5%;
        padding: 20%;

    }
    .stethoscope{
      opacity: 0;

    }
  }
