body{
    
}


.hero{
    width: 100%;
    height:100%;
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 25% 25% 50%;  

        

}
    
.coffe{
    grid-column: 1/4;
    grid-row: 1/4;
  
} 
     
.hero .title{
 grid-column: 1/2;
 grid-row: 1/3;
padding: 20%;
z-index: 2;
}
.icon {
  padding: 3%;
  width:6rem;
}

.liladoc{

    font-family: 'Josefin Sans', sans-serif;
    color: #190702;
    font-size:  5rem;
}

.presentation{
    display: grid;
    grid-template-columns: 35% 15% 50%;
    grid-template-rows: 15% 50% 35%; 

} 
.stethoscope{
    grid-column: 1/5;
    grid-row: 1/4;
    padding-left: 10%;


     z-index: 1; 
} 

 .transparency{
    grid-column: 1/3;
    grid-row: 1/4;
    background-color: #FAFBFB;
    opacity: 0.33;
    z-index: 2;
 } 



.background{
    grid-column: 1/2;
    grid-row: 1/4;
    background-color:#FAFBFB ;
    z-index: 3;
}  

 .presentation .title{
     grid-column: 1/2;
    grid-row: 1/2;
    font-size: 6.2rem; 
    padding: 6%;
    padding-left: 20%;
    padding-bottom: 0;
    z-index: 4;
} 
     
 .presentation .text{
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: 1.7rem;
    padding: 10%;
    padding-top: 5%;
    padding-left: 20%;
   color: #C3BCB4;
    z-index: 5;

} 
.skillsback{
  display: grid;


} 
.skillsback img{
  grid-column: 2/3;
  grid-row: 3/4;
  padding-left: 20%
}
.container{

  grid-column: 1/3;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
  z-index: 2;
}
.skills{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5%;
 

}
.skillcard{
  background-color: #FFECD9;
  padding: 15%;
  
}

@media(max-width:1445px){
  .presentation.text{
    grid-column: 2/5;
    grid-row:1/4;
  }
}  
/* position: relative; */

  
@media(max-width: 1379px) {
     
    .presentation .title{
        font-size: 5rem;
        padding: 20%

    }
    .presentation .text{
        font-size: 2rem;
        grid-column: 2/5;
        grid-row:1/4;
        
        color: #7a746d;
        border-radius: 5%;
        padding: 20%;
        margin-bottom: 20%;

    }
    .stethoscope{
      opacity: 0;

    }
  }  

  @media(max-width: 770px) {
    .presentation .text{
        font-size: 2rem;
        grid-column: 1/5;
        grid-row:3/4;
        padding: 10%;
        padding-top: 0%;
    }
    

  }  